<!DOCTYPE html>
<html>
	<head>
		<link href="index.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">

		<title>KOBRAHH ZONE</title>
	</head>

	<body>
		<div class="kobrahh">KOBRAHH_ZONE</div>

		<div class="spotify-user">
			<iframe src="https://embed.spotify.com/follow/1/?uri=spotify:user:1236833121&size=detail&theme=dark" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true">
			</iframe>
		</div>

		<div class="spotify-playlist">
			<iframe src="https://open.spotify.com/embed?uri=spotify%3Auser%3A1236833121%3Aplaylist%3A4RYnUPmw4ouoG3kfh2cQBd&view=coverart&theme=white" width="300" height="380" frameborder="0" allowtransparency="true">
			</iframe>
		</div>

		<div id="pinterest">
			<div id="prev">
				<button id="button-prev" title="PREVIOUS" disabled="true" onclick="prevClick()"><</button>
			</div>
			<div id="next">
				<button id="button-next" title="NEXT" onclick="nextClick()">></button>
			</div>
			<div id="pin">
				<a data-pin-do="embedPin" data-pin-width="large" data-pin-terse="true" href="https://www.pinterest.com/pin/533395149609129572/"></a>
			</div>
		</div>

		<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js" defer="async"></script>
		<script type="text/javascript" src="script.js"></script>
	</body>
</html>
